  <!-- Image avec animation -->
<section class="image-section">
    <img src="assets/image.png" alt="Kiosk Image" class="animated-image" />
  </section>
  <!-- Image logos partenaires -->
  <div class="partners-image-container">
    <img src="assets/support.png" alt="Partenaires" class="partners-image" />
  </div>
  <footer class="site-footer">
    <div class="footer-container">
      
      <div class="footer-section">
        <h4>Business Types</h4>
          <ul>
            <li>Beauty</li>
            <li>Clean</li>
            <li>Location</li>
            <li>Magasin</li>
            <li>Mode</li>
            <li>Parapharmacie</li>
            <li>Pâtisserie</li>
            <li>Restaurant</li>
            <li>Store</li>
          </ul>
      </div>
  
      <div class="footer-section">
        <h4>Resources</h4>
        <ul>
          <li>Pricing</li>
          <li>Why ASM?</li>
          <li>Testimonials</li>
          <li>The Bottom Line</li>
          <li>Sales</li>
          <li>Support</li>
          <li>ASM Community</li>
          <li>Developer Platform</li>
          <li>Merchant Services</li>
          <li>Rent Hardware</li>
          <li>Contact</li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>Contact</h4>
        <ul>
          <li>Customer support:(+216) 74 415 055 </li>
          <li>Sales:(+216)  73 368 115 </li>
        </ul>
        <h4>About</h4>
        <ul>
          <li>Press & Media</li>
          <li>Careers</li>
          <li>Referrals</li>
          <li>Partners</li>
        </ul>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>Tunisia (English)</p>
      <p>© 2025 Block, Inc.</p>
      <ul>
        <li>Privacy Notice</li>
        <li>Security</li>
        <li>Terms of Service</li>
        <li>Government Licenses</li>
        <li>Consumer Health Privacy</li>
        <li>Hardware Compliance Certifications</li>
        <li>Block, Inc.</li>
      </ul>
    </div>
  </footer>
  