<!-- Image avec animation --> 
<section class="image-section">
  <img src="assets/image.png" alt="Image du Kiosque" class="animated-image" />
</section>

<!-- Image logos partenaires -->
<div class="partners-image-container">
  <img src="assets/support1.png" alt="Partenaires" class="partners-image" />
</div>

<footer class="site-footer">
  <div class="footer-container">

    <div class="footer-section">
      <h4>Types d'entreprises</h4>
      <ul>
        <li>Beauté</li>
        <li>Nettoyage</li>
        <li>Location</li>
        <li>Magasin</li>
        <li>Mode</li>
        <li>Parapharmacie</li>
        <li>Pâtisserie</li>
        <li>Restaurant</li>
        <li>Boutique</li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Ressources</h4>
      <ul>
        <li>Tarification</li>
        <li>Pourquoi ASM ?</li>
        <li>Témoignages</li>
        <li>L'essentiel</li>
        <li>Ventes</li>
        <li>Support</li>
        <li>Communauté ASM</li>
        <li>Plateforme Développeur</li>
        <li>Services Marchands</li>
        <li>Louer du matériel</li>
        <li>Contact</li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Contact</h4>
      <ul>
        <li>Service client : (+216) 74 415 055</li>
        <li>Ventes : (+216) 73 368 115</li>
      </ul>
      <h4>À propos</h4>
      <ul>
        <li>Presse & Médias</li>
        <li>Carrières</li>
        <li>Parrainages</li>
        <li>Partenaires</li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Tunisie (Français)</p>
    <p>© 2025 Block, Inc.</p>
    <ul>
      <li>Politique de confidentialité</li>
      <li>Sécurité</li>
      <li>Conditions d'utilisation</li>
      <li>Licences gouvernementales</li>
      <li>Confidentialité santé des consommateurs</li>
      <li>Certifications de conformité du matériel</li>
      <li>Block, Inc.</li>
    </ul>
  </div>
</footer>
