<!-- Sidebar -->
<aside class="sidebar">
    <h2><img src="assets/images/ASM.png" class="logo-icon"></h2>
    <nav>
      <ul>
        <li>
          <a routerLink="/admin"routerLinkActive="active">
            <img src="assets/images/home.png" class="menu-icon"> 
            Acceuil
            <div class="notification-badge" *ngIf="totalNotifications > 0">
              {{ totalNotifications }}
            </div>
          </a>
        </li>
        <li>
          <a routerLink="admin/Dashboard">
            <img src="assets/images/dashboard.png" class="menu-icon"> 
            Dashboard
            <div class="notification-badge" *ngIf="notifications.dashboard > 0">
              {{ notifications.dashboard }}
            </div>
          </a>
        </li>
        <li>
          <a  routerLink="/admin-products" routerLinkActive="active">
            <img src="assets/images/box.png" class="menu-icon"> 
            Gestion des Produits
            <div class="notification-badge" *ngIf="notifications.produits > 0">
              {{ notifications.produits }}
            </div>
          </a>
        </li>
        <li>
          <a  routerLink="/admin-users" routerLinkActive="active">
            <img src="assets/images/client.png" class="menu-icon"> 
            Gestion des Clients
            <div class="notification-badge" *ngIf="notifications.clients > 0">
              {{ notifications.clients }}
            </div>
          </a>
        </li>
        <li>
          <a routerLink="/admin/Gestion_des_Admins">
            <img src="assets/images/admin.png" class="menu-icon"> 
            Gestion des Admins
            <div class="notification-badge" *ngIf="notifications.admins > 0">
              {{ notifications.admins }}
            </div>
          </a>
        </li>
        <li>
          <a routerLink="/Déconnexion">
            <img src="assets/images/logout.png" class="menu-icon"> 
            Déconnexion
          </a>
        </li>
      </ul>
    </nav>
  </aside>

  <!-- Main content -->
  <main class="main-content">
    <header class="admin-header">
      <h1>Welcome to Admin Panel</h1>
    </header>