<div class="signup-container">

  
    <div class="signup-card">
      <h2>Inscription</h2>
      <p>Inscrivez-vous rapidement et gratuitement.</p>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <!-- Prenom -->
        <div class="form-group">
          <label for="prenom">Prenom</label>
          <input id="prenom" formControlName="prenom" class="input-field" type="text">
          <div *ngIf="form.get('prenom')?.invalid && form.get('prenom')?.touched" class="error">
            Le prenom est requis.
          </div>
        </div>
  
        <!-- Nom -->
        <div class="form-group">
          <label for="nom">Nom</label>
          <input id="nom" formControlName="nom" class="input-field" type="text">
          <div *ngIf="form.get('nom')?.invalid && form.get('nom')?.touched" class="error">
            Le nom est requis.
          </div>
        </div>
  
        <!-- Adresse e-mail -->
        <div class="form-group">
          <label for="email">Adresse e-mail</label>
          <input id="email" formControlName="email" class="input-field" type="email">
          <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="error">
            Veuillez entrer une adresse e-mail valide.
          </div>
        </div>
  
        <!-- Mot de passe -->
        <div class="form-group">
          <label for="mot_de_passe">Mot de passe</label>
          <input id="mot_de_passe" formControlName="mot_de_passe" class="input-field" type="password">
          <div *ngIf="form.get('mot_de_passe')?.invalid && form.get('mot_de_passe')?.touched" class="error">
            Le mot de passe est requis.
          </div>
        </div>
  
        <!-- Confirmation du mot de passe -->
        <div class="form-group">
          <label for="confirmmot_de_passe">Confirmation du mot de passe</label>
          <input id="confirmmot_de_passe" formControlName="confirmmot_de_passe" class="input-field" type="password">
          <div *ngIf="form.hasError('mismatch') && form.get('confirmmot_de_passe')?.touched" class="error">
            Les mots de passe ne correspondent pas.
          </div>
        </div>
  
        
        <!-- Numéro de téléphone -->
        <div class="form-group">
          <label for="phone">Numéro de téléphone</label>
          <input id="phone" formControlName="phone" class="input-field" type="text">
          <div *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched" class="error">
            Numéro invalide (8 chiffres commençant par 2, 4, 5 ou 9).
          </div>
        </div>
  
        <!-- Gouvernorat -->
        <div class="form-group">
          <label for="gouvernorat">Gouvernorat</label>
          <select id="gouvernorat" formControlName="gouvernorat" class="select-field">
            <option value="">Sélectionnez un gouvernorat</option>
            <option value="Tunis">Tunis</option>
            <option value="Ariana">Ariana</option>
            <option value="Ben Arous">Ben Arous</option>
            <option value="Manouba">Manouba</option>
            <option value="Nabeul">Nabeul</option>
            <option value="Zaghouan">Zaghouan</option>
            <option value="Bizerte">Bizerte</option>
            <option value="Béja">Béja</option>
            <option value="Jendouba">Jendouba</option>
            <option value="Le Kef">Le Kef</option>
            <option value="Siliana">Siliana</option>
            <option value="Sousse">Sousse</option>
            <option value="Monastir">Monastir</option>
            <option value="Mahdia">Mahdia</option>
            <option value="Kairouan">Kairouan</option>
            <option value="Kasserine">Kasserine</option>
            <option value="Sidi Bouzid">Sidi Bouzid</option>
            <option value="Sfax">Sfax</option>
            <option value="Gabès">Gabès</option>
            <option value="Médenine">Médenine</option>
            <option value="Tataouine">Tataouine</option>
            <option value="Gafsa">Gafsa</option>
            <option value="Tozeur">Tozeur</option>
            <option value="Kebili">Kebili</option>
          </select>
          <div *ngIf="form.get('gouvernorat')?.invalid && form.get('gouvernorat')?.touched" class="error">
            Veuillez sélectionner un gouvernorat.
          </div>
        </div>
  
       
        <!-- Conditions d'utilisation -->
        <div class="checkbox">
          <input type="checkbox" id="terms" formControlName="terms">
          <label for="terms">J'accepte les <a href="#">Conditions d’utilisation</a> et la <a href="#">Politique de confidentialité</a></label>
          <div *ngIf="form.get('terms')?.invalid && form.get('terms')?.touched" class="error">
            Vous devez accepter les conditions.
          </div>
        </div>
  
        <!-- Bouton Créer un compte -->
        <button type="submit" class="submit-button" [disabled]="!form.valid">Créer un compte</button>
      </form>
    </div>
  </div>